@font-face {
    font-family: 'BarlowBold';
    src: url(assets/fonts/Barlow-Bold.ttf);
}


@font-face {
    font-family: 'OttoAttackType';
    src: url(assets/fonts/OTTOATTACTYPE.ttf);
}


body{
    margin: 0;
    padding: 0;
    font-family: BarlowBold;
}


body {
    overflow-x: hidden;
}


header{
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    min-width: 250px;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(assets/backgrounds/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.logo {
    color: #000;
    height: 60px;
    font-size: 45px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    float: left;
    font-weight: 900;
    text-decoration: none;
    font-family: 'OttoAttackType';
    border: 3px outset #262626;
    border-radius: 15px;
}

nav {
    float: right;
}

.clearfix {
    clear: both;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
}

nav ul li a:hover
{
    background: #FFB7C5;
    color: #fff;
    transition: 0.5s;
}

@media (max-width: 1200px)
{
    header
    {
        margin: 0px;
    }
}

@media (max-width: 768px)
{
    .menu-toggle
    {
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        background: #ccc;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #FFB7C5;

    }
    .menu-toggle::before
    {
        content: "\f0c9";
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-toggle.active::before
    {
        content: "\f00d";
    }
    nav
    {
        display: none;
    }
    nav.active
    {
        display: block;
        width: 100%;
    }
    nav.active ul
    {
        display: block;
    }
    nav.active ul li
    {
        margin: 0;
    }
}

.content{
    width: 1100px;
    height: 20px;
    margin: 50px;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 2px;
    padding-bottom: 50px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 100px;
}

.content {
    font-family: Arial;
    font-size: 2.7vw;
    padding-left: 2px;
    margin-top: 5%;
    letter-spacing: 2px;
}

.content span{
    color: #FFB7C5;
    font-size: 6vw;
    font-family: 'Arial';
}

.letters {
    width: 100%;
    color: #fff;
    display: flex;
    position: relative;
    top: 30%;
    left: 4.8%;
    min-width: 350px;
}

.letters h1 {
    font-size: 45px;
}

span {
    color: #FFB7C5;
}


    html, body {
    overflow-x: hidden;
    max-width: 100%;
}

.content h1 {
    font-size: 10vw;
}


.content h2 {
    font-size: 1rem;
    position: relative;
}

.content h2 {
    font-family: Arial;
    font-size: 4vw;
    padding-left: 3px;
    margin-top: 5%;
    letter-spacing: 10px;
    font-weight: 800;
    right: 2%;
}
